<section>
    <div class="cont">
        <h1>Datos Personales</h1>
        <p>Nombre: Marcelo Isola</p>
        <p>Nacionalidad: Argentino/Italiano</p>
        <p>Nacimiento: 14 de octubre de 1982</p>
        <p>Residencia: Las Flores, Buenos Aires - Argentina</p>
    </div>
   
    <div class="logos">
        <div>
            <a href="https://www.instagram.com/isolamarcelo/?hl=es-la"><img src="./assets/instag.png" alt="Instagram"></a>
        </div>
        <div>
            <a href="https://www.facebook.com/marcelo.isola"><img src="./assets/face.png" alt="facebook"></a>
        </div>
        <div>
            <a href="mailto:marceloisola@gmail.com?"><img src="./assets/mail.png" alt="mail"></a>
        </div>
        <div>
            <a href="https://wa.me/5491138896935"><img src="./assets/whatsapp.png" alt="Whatsapp"></a>
        </div>        
    </div>
</section> 